<!DOCTYPE html>
<html lang="en">

<head>
  <title>ChestCov19</title>
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2781/2781395.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <script src="{{url_for('static', filename='script/progress.js')}}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script type="text/javascript"
    src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="{{url_for('static', filename='script/googletranslateinit.js')}}"></script>
    <script src="{{url_for('static', filename='script/styledropdown.js')}}"></script>
</head>

<body>

  <div class='progress' id="progress_div">
    <div class='bar' id='bar1'></div>
    <div class='percent' id='percent1'></div>
  </div>


  <header class="sticky">
    <nav>
      <label class="logos">ChestCov</label>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/info">Berita Covid</a></li>
        <li><a href="/about">Tentang</a></li>
        <li><a class="active" href="/contact">Kontak</a></li>
        <li><div id="google_translate_element"></div></li>
      </ul>
      <label id="icon">
        <img src="static/burger_menu.png" />
      </label>
    </nav>
    <script src="{{url_for('static', filename='script/toggle.js')}}"></script>
  </header>

  <div class="text-center portfolio1">
    <h1 class="section-headtext-uppercase" style="font-family: sans-serif;">Kontak<br><br></h2>
  </div>

  <div style="margin-bottom: 30px;" class="container" id="ff-compose"></div>
  <script async defer
    src="https://formfacade.com/include/101783881240555746317/form/1FAIpQLSeoFupG-Qfw86BG2aypamt1DDQdMkiyLrhey-qC991j6WgLTg/bootstrap.js?div=ff-compose">
  </script>

  </main>

  <input type="hidden" id="progress_width" value="0">

</body>

<footer>
  <span>
    <center>CSD-027 &copy 2021 </center>
  </span>
</footer>

</html>