<!DOCTYPE html>
<html lang="en">

<head>
  <title>ChestCov19</title>
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2781/2781395.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <script type=text/javascript src="{{
    url_for('static', filename='script/app.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>


  <header>
    <nav>
      <label class="logos">ChestCov</label>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/info">Covid News</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a class="active" href="/contact">Contact</a></li>
      </ul>
      <label id="icon">
        <img src="static/burger_menu.png" />
      </label>
    </nav>
    <script>
      $(document).ready(function () {
        $('#icon').click(function () {
          $('ul').toggleClass('show');
        });
      });
    </script>
  </header>

  <div class="text-center portfolio1">
    <h1 class="section-headtext-uppercase">Kontak<br><br></h2>
  </div>

  <div style="margin-bottom: 30px;" class="container" id="ff-compose"></div>
  <script async defer
    src="https://formfacade.com/include/101783881240555746317/form/1FAIpQLSeoFupG-Qfw86BG2aypamt1DDQdMkiyLrhey-qC991j6WgLTg/bootstrap.js?div=ff-compose">
  </script>

  </main>

</body>

<footer>
  <span>
    <center>CSD-027 &copy 2021 </center>
  </span>
</footer>

</html>