<!DOCTYPE html>
<html lang="en">

<head>
  <title>ChestCov19</title>
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2781/2781395.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <script type=text/javascript src="{{
    url_for('static', filename='script/app.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<header>
  <nav>
    <label class="logos">ChestCov</label>
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/info">Covid News</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <label id="icon">
      <img src="static/burger_menu.png" />
    </label>
  </nav>
  <script>
    $(document).ready(function () {
      $('#icon').click(function () {
        $('ul').toggleClass('show');
      });
    });
  </script>
</header>

<body>

  <div id="slider">
    <figure>
      <img src="https://cdn.pixabay.com/photo/2021/05/22/21/32/man-6274651_960_720.jpg">
      <img src="https://cdn.pixabay.com/photo/2020/03/31/14/04/covid-19-4987797_960_720.jpg">
      <img src="https://cdn.pixabay.com/photo/2021/05/22/21/32/man-6274651_960_720.jpg">
      <img src="https://cdn.pixabay.com/photo/2020/03/26/16/11/corona-4970836_960_720.jpg">
      <img src="https://cdn.pixabay.com/photo/2021/05/22/21/32/man-6274651_960_720.jpg">
    </figure>
  </div>

    <div class="container">
      <div class="text-center portfolio1">
        <h1 class="section-headtext-uppercase">Website Pendeteksi Covid-19 berdasarkan Chest X-Ray (Web
          ChestCov-19)<br><br></h1>
      </div>
      <br><br>
      <form class="form-horizontal" action="/submit" method="post" enctype="multipart/form-data">

        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Upload Your Image :</label>
          <div class="col-sm-10">
            <input type="file" class="form-control" placeholder="Hours Studied" name="my_image" id="pwd">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </div>
      </form>
      {% if name %}
      <center><img class="image_prediction" src="{{url_for('static', filename='img/' + name)}}" height="400px"
          width="400px" /></center>
      <center>
        <h2 style="margin-top: 30px;"> Prediction : <i> {{prediction}} </i></h2>
      </center>
      <!--
    <h2> Filename   : <i> {{name}} </i></h2>
    <h2> Image path   : <i> {{img_path}} </i></h2>
    -->

      <p>Label Percentage</1p>
        <div class="container_bar">
          <center>
            <div class="skills css">{{percentage}}%</div>
          </center>
        </div>

        <p style="margin-top: 20px;">Similarity Index</p>
        <div class="container_bar">
          <center>
            <div class="skills html">{{similarity}}</div>
          </center>
        </div>

        <!-- <h2> Label Percentage : <i> {{percentage}}% </i></h2> -->
        <!-- <h2> Similarity Index : <i> {{similarity}} </i></h2> -->
        {% endif %}

    </div>

</body>

<footer style="margin-top: 20px;">
  <span>
    <center>CSD-027 &copy 2021 </center>
  </span>
</footer>

</html>