<!DOCTYPE html>
<html lang="en">

<head>
    <title>ChestCov19</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2781/2781395.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body onload="getNews()">

    <header class="sticky">
        <nav>
            <label class="logos">ChestCov</label>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a class="active" href="/info">Covid News</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <label id="icon">
                <img src="static/burger_menu.png" />
            </label>
        </nav>
        <script>
            $(document).ready(function () {
                $('#icon').click(function () {
                    $('ul').toggleClass('show');
                });
            });
        </script>
    </header>

    <!-- untuk di isi nanti -->

    <div class="text-center portfolio1">
        <h1 class="section-headtext-uppercase" style="font-family: sans-serif;">Perkembangan Covid Di Indonesia<br><br>
            </h2>
    </div>

    <div class="text-center portfolio1">
        <h2 id="lastUpdate" class="section-headtext-uppercase" style="font-family: sans-serif; margin-bottom: 20px;">Perkembangan Covid Di
            Indonesia<br><br></h2>
    </div>

    <div class="row">
        <div class="column">
            <div class="card-konfirm">
                <h1 id="totalcase">Loading...</h1>
                <h2 id="add_case">Loading...</h2>
                <h3>Terkonfirmasi</h3>
            </div>
        </div>
        <div class="column">
            <div class="card-death">
                <h1 id="death">Loading...</h1>
                <h2 id="add_death">Loading...</h2>
                <h3>Meninggal</h3>
            </div>
        </div>
        <div class="column">
            <div class="card-recover">
                <h1 id="recover">Loading...</h1>
                <h2 id="add_recover">Loading...</h2>
                <h3>Sembuh</h3>
            </div>
        </div>
        <div class="column">
            <div class="card-dirawat">
                <h1 id="dirawat">Loading...</h1>
                <h2 id="add_dirawat">Loading...</h2>
                <h3>Dirawat</h3>
            </div>
        </div>
    </div>
    <!-- Script for daily cases -->

    <script>
        fetch('https://csd027covidapis.herokuapp.com/api/indonesia/harian')
            .then(res => res.json())
            .then(data => document.getElementById("add_case").innerHTML = "+" + data[data.length - 1].positif.toString()
                .replace(
                    /\B(?=(\d{3})+(?!\d))/g, ","));

        fetch('https://csd027covidapis.herokuapp.com/api/indonesia/harian')
            .then(res => res.json())
            .then(data => document.getElementById("add_death").innerHTML = "+" + data[data.length - 1].meninggal
                .toString().replace(
                    /\B(?=(\d{3})+(?!\d))/g, ","));

        fetch('https://csd027covidapis.herokuapp.com/api/indonesia/harian')
            .then(res => res.json())
            .then(data => document.getElementById("add_recover").innerHTML = "+" + data[data.length - 1].sembuh
                .toString()
                .replace(
                    /\B(?=(\d{3})+(?!\d))/g, ","));

        fetch('https://csd027covidapis.herokuapp.com/api/indonesia/harian')
            .then(res => res.json())
            .then(data => document.getElementById("add_dirawat").innerHTML = "+" + data[data.length - 1]
                .dirawat.toString()
                .replace(
                    /\B(?=(\d{3})+(?!\d))/g, ","));


        // fetch('https://csd027covidapis.herokuapp.com/api/indonesia/harian')
        //     .then(res => res.json())
        //     .then(data => document.getElementById("add_case").innerHTML = "+" + data[data.length - 1].positif.toString()
        //         .replace(
        //             /\B(?=(\d{3})+(?!\d))/g, ",")
        //         .then(data => document.getElementById("add_death").innerHTML = "+" + data[data.length - 1]
        //             .meninggal.toString().replace(
        //                 /\B(?=(\d{3})+(?!\d))/g, ","))
        //         .then(data => document.getElementById("add_recover").innerHTML = "+" + data[data.length - 1]
        //             .sembuh.toString()
        //             .replace(
        //                 /\B(?=(\d{3})+(?!\d))/g, ","))
        //         .then(data => document.getElementById("add_dirawat").innerHTML = "+" + data[data.length - 1]
        //             .dirawat.toString()
        //             .replace(
        //                 /\B(?=(\d{3})+(?!\d))/g, ","))
        //     );
    </script>


    <!-- Script for Realtime covid cases -->
    <script>
        fetch('https://csd027covidapis.herokuapp.com/api/indonesia')
            .then(res => res.json())
            .then(data => document.getElementById("totalcase").innerHTML = data.positif.toString().replace(
                /\B(?=(\d{3})+(?!\d))/g, ","));

        fetch('https://csd027covidapis.herokuapp.com/api/indonesia')
            .then(res => res.json())
            .then(data => document.getElementById("death").innerHTML = data.meninggal.toString().replace(
                /\B(?=(\d{3})+(?!\d))/g, ","));

        fetch('https://csd027covidapis.herokuapp.com/api/indonesia')
            .then(res => res.json())
            .then(data => document.getElementById("recover").innerHTML = data.sembuh.toString().replace(
                /\B(?=(\d{3})+(?!\d))/g, ","));

        fetch('https://csd027covidapis.herokuapp.com/api/indonesia')
            .then(res => res.json())
            .then(data => document.getElementById("dirawat").innerHTML = data.dirawat.toString().replace(
                /\B(?=(\d{3})+(?!\d))/g, ","));

        fetch('https://csd027covidapis.herokuapp.com/api/indonesia')
            .then(res => res.json())
            .then(data => document.getElementById("lastUpdate").innerHTML = "Data Terupdate Pada Tanggal " + new Date(
                data
                .lastUpdate).toLocaleDateString(
                'pt-PT'));
    </script>

<center><iframe src="https://ourworldindata.org/grapher/total-cases-covid-19?tab=map" width="80%" height="600px" style="margin: 30px;"></iframe></center>

    <div class="text-center portfolio1">
        <h1 class="section-headtext-uppercase" style="font-family: sans-serif;">Berita Terbaru Dari Cnbc<br><br></h2>
    </div>

    <section class="page-section" id="portfolio" style="margin-top: 20px;">
        <div class="container p-4" style="margin-top: 10px;">
            <div class="text-center portfolio1">
            </div>
            <div class="row" id="row-news"></div>
        </div>
    </section>
    <script>
        function getNews() {
            const rowNews = document.getElementById('row-news');
            let url = `https://csd027newsapi.herokuapp.com/cnbc/terbaru/`

            fetch(url).then((res) => {
                return res.json()
            }).then((data) => {
                console.log(data)
                data.data.posts.forEach(posts => {
                    console.log("ini data for each");
                    const image = posts.thumbnail.toLowerCase()

                    document.getElementById("row-news").innerHTML += ` <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="${posts.link}" target="_blank" rel="noopener noreferrer">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid"
                                src="${posts.thumbnail.toLowerCase()}"
                                alt="news image" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">${posts.title}</div>
                            <div class="portfolio-caption-subheading text-muted">${new Date(posts.pubDate).toLocaleDateString('pt-PT')}
                        </div>
                        </div>
                    </div>
                </div>`
                    // console.log(posts.description)
                    //   let rowNews = document.createElement('li');
                    //   let a = document.createElement
                });
            })
        }
    </script>


</body>

<footer>
    <span>
        <center>CSD-027 &copy 2021 </center>
    </span>
</footer>

</html>