<!DOCTYPE html>
<html lang="en">

<head>
    <title>ChestCov19</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2781/2781395.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <script type=text/javascript src="{{
    url_for('static', filename='script/app.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>


    <header>
        <img style="width: 3%; height: 3%" class="logo" src="{{url_for('static', filename='covid-19.svg')}}">
        <nav>
            <ul class="nav__links">
                <li><a href="/">Home</a></li>
                <li><a href="info">Info Covid</a></li>
                <li><a href="about">About Us</a></li>
            </ul>
        </nav>
        <a class="cta" href="contact"><button>Contact</button></a>
    </header>

    <!-- untuk di isi nanti -->

    <section class="page-section" id="portfolio">
        <div class="container p-4">
            <div class="text-center portfolio1">
                <h1 class="section-headtext-uppercase">Berita<br><br></h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="/info/virus_corona_omicron">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid"
                                src="https://cdn.pixabay.com/photo/2020/05/15/18/46/corona-5174671_960_720.jpg"
                                alt="" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Update Soal Kadinkes Bekasi Temukan 4 Warga DKI Terpapar Omicron</div>
                            <div class="portfolio-caption-subheading text-muted">Reporter : Adi Nugroho (Merdeka.com)</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="/info/bos_pfizer_cemas_omicron">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid"
                                src="https://cdn.pixabay.com/photo/2020/12/13/23/40/woman-5829666_960_720.jpg" alt="" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bos Pfizer Ungkap Kecemasannya pada Covid-19 Varian Omicron</div>
                            <div class="portfolio-caption-subheading text-muted">Novina Putri Bestari, CNBC Indonesia</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid"
                                src="https://cdn.pixabay.com/photo/2016/02/22/11/20/vaccination-1215279_960_720.jpg"
                                alt="" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">100 Juta Warga Indonesia Telah Divaksinasi COVID-19 Dosis Lengkap</div>
                            <div class="portfolio-caption-subheading text-muted">by Rokom Kementerian Kesehatan</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container p-4" style="margin-top: 10px;">
            <div class="text-center portfolio1">
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid"
                                src="https://akcdn.detik.net.id/visual/2021/07/14/giat-vaksinasi-serentak-pelajar-di-sejumlah-daerah-4_169.jpeg?w=650"
                                alt="" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">judul</div>
                            <div class="portfolio-caption-subheading text-muted">deskripsi</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid"
                                src="https://www.its.ac.id/news/wp-content/uploads/sites/2/2021/09/Rektor-ITS-Prof-Dr-Ir-Mochamad-Ashari-MEng-saat-meninjau-kelas-perkuliahan-hybrid-di-Departemen-Teknik-Kelautan-ITS.jpeg"
                                alt="" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">judul</div>
                            <div class="portfolio-caption-subheading text-muted">deskripsi</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid"
                                src="https://img.beritasatu.com/cache/beritasatu/620x350-2/1600343598.jpg" alt="" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">judul</div>
                            <div class="portfolio-caption-subheading text-muted">dekripsi</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </main>

</body>

<footer>
    <span>
        <center>CSD-027 &copy 2021 </center>
    </span>
</footer>

</html>