@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

main {
  overflow: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image_news_header {
  border-radius: 8px;
}