@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

main {
  overflow: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #24252A;
  text-decoration: none;
}

li {
  margin-top: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eeeeee;
  padding: 20px 7%;
}

button {
  color: #eeeeee;
}

.logo {
  cursor: pointer;

}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}


body {
  margin: 0;
  padding: 0;
}

main {
  overflow: auto;
  padding: 0px;
  overflow: auto;
}

footer {
  clear: both;
  padding: 15px;
  color: #24252A;
  text-align: center;
  background-color: #eeeeee;
  text-align: start;
  font-weight: bold;
  font-size: 15px;
}


/*kumpulan portofolio berita*/

section#portfolio {
  /*margin-top: 100px;*/
  padding: 0;
}

.portfolio1 h1 {
  text-transform: uppercase;
  padding-top: 10px;
  color: rgba(0, 136, 169, 1);
  font-family: "Poppins";
  font-weight: bold;
}

#portfolio .portfolio-item {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 18.4px;
  color: #eeeeee;
}

#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-caption {
  padding: 24px;
  text-align: center;
  background-color: #eeeeee;
}

#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-size: 24px;
  color: rgba(0, 136, 169, 1);
  font-family: "Poppins";
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 0;
}

#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
  font-family: "Poppins";
  text-transform: capitalize;
}

#portfolio .portfolio-item {
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

#portfolio .portfolio-item:hover {
  filter: brightness(80%);
  transform: scale(1.1);
}

.portfolio-modal .modal-dialog {
  margin: 16px;
  max-width: 100vw;
}

.portfolio-modal .modal-content {
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}

.portfolio-modal .modal-content h2 {
  font-size: 48px;
  line-height: 48px;
}

.portfolio-modal .modal-content p.item-intro {
  margin-bottom: 32px;
  font-family: "Poppins";
}

.portfolio-modal .modal-content p {
  margin-bottom: 32px;
}

.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 32px;
}

.portfolio-modal .modal-content img {
  margin-bottom: 32px;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/*end of portofolio berita*/

/*css for news page*/

.image_news_header {
  margin-top: 10px;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.image_news_header:hover {
  filter: brightness(110%);
  transform: scale(1.1);
}

.text_hader_news {
  padding: 30px;
}

.news_content {
  padding-top: 10px;
  padding-left:30px;
  padding-right:30px;
}

.content_video { 
  float: none;
  clear: both;
  width: 700px;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin: 0 auto;
  max-width: 100%;
}
