<!DOCTYPE html>
<html lang="en">

<head>
    <title>ChestCov19</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2781/2781395.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <script type=text/javascript src="{{
    url_for('static', filename='script/app.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>


    <header>
        <nav>
            <label class="logos">ChestCov</label>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a class="active" href="/info">Covid News</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <label id="icon">
                <img src="https://i.ibb.co/dW5q8Fn/lines-menu-burger-icon-123889.png" />
            </label>
        </nav>
        <script>
            $(document).ready(function () {
                $('#icon').click(function () {
                    $('ul').toggleClass('show');
                });
            });
        </script>
    </header>

    <img class="image_news_header" src="https://cdn.pixabay.com/photo/2016/02/22/11/20/vaccination-1215279_960_720.jpg">

    <div class="text_hader_news">
        <h1 class="news_title">100 Juta Warga Indonesia Telah Divaksinasi COVID-19 Dosis Lengkap</h1>
        <h3 class="news_author">By Rokom Kementerian Kesehatan</h3>
    </div>

    <div class="news_content">
        <h4>Rokom Kementerian Kesehatan</h4>
        <br> <br>
        <h4>Jakarta
            <br> <br>
            Hingga Selasa (7/12) sudah lebih dari 100 juta warga Indonesia telah mendapatkan dosis lengkap atau 2 dosis
            vaksinasi COVID-19.
            <br> <br>
            Berdasarkan data tanggal 7 Desember 2021 pukul 18.00 WIB sebanyak 100.033.810 orang telah menerima vaksinasi
            dosis 1 dan dosis 2.
            <br> <br>
            Artinya, sudah 49% dari total sasaran 208,2 juta orang yang harus divaksinasi COVID-19. Selain itu,
            berdasarkan rangkuman dari Our World in Data pada 6 Desember 2021 menunjukkan Indonesia menduduki peringkat
            ke-5 negara dengan jumlah terbanyak vaksinasi COVID-19 dosis lengkap setelah Tiongkok, India, Amerika
            Serikat dan Brazil.
            <br> <br>
            Kemenkes telah menargetkan vaksinasi lengkap untuk 208,2 juta warga akan dicapai di Maret atau April tahun
            depan.
            <br> <br>
            Sedangkan untuk penyuntikan dosis pertama sudah mencakup lebih dari 143 juta warga atau 70% dari target
            208,2 juta yang harus dicapai di akhir Januari tahun depan.
            <br> <br>
            Vaksinasi dosis lengkap menjadi syarat perjalanan dari dan ke Indonesia. Indonesia termasuk negara dengan
            kategori Level 1 yang merupakan kategori rendah. Pelaku perjalalanan yang ingin berkunjung ke Indonesia
            direkomendasikan tetap harus sudah divaksinasi dosis lengkap sebelum bepergian.
            <br> <br>
            Capaian vaksinasi tersebut dicapai berkat usaha optimal dan gotong royong dengan semua pihak tertutama
            TNI/Polri, pemerintah daerah, BUMN, organisasi keagamaan dan sosial, dan pihak swasta yang turut membantu.
            <br> <br>
            Menteri Kesehatan Budi Gunadi Sadikin mengatakan Kemenkes terus berupaya meningkatkan percepatan vaksinasi
            dengan menggandeng berbagai elemen masyarakat.
            <br> <br>
            Selain membuka vaksinasi massal, Kemenkes juga telah mengeluarkan Surat Edaran yang menginstruksikan seluruh
            pos pelayanan vaksinasi, Unit Pelaksana Teknis di bawah Kemenkes, seperti Kantor Kesehatan Pelabuhan (KKP),
            RS Vertikal, Poltekkes, di seluruh Indonesia untuk melakukan vaksinasi kepada semua target sasaran tanpa
            memandang domisili atau tempat tinggal pada KTP.
            <br> <br>
            “Vaksinasi menjadi salah satu upaya penting dalam mengurangi laju penyebaran virus sehingga mengurangi
            lonjakan kasus dan membawa kita keluar dari pandemi. Capaian vaksinasi kita tak lepas dari modal sosial
            masyarakat Indonesia yang tinggi dengan saling bahu-membahu berpartisipasi dalam menyelenggarakan kegiatan
            vaksinasi,” kata Menkes di Jakarta, Rabu (8/12).
            <br> <br>
            Pemerintah juga terus mengupayakan ketersediaan vaksin baik lewat skema multilateral maupun bilateral demi
            mencukupi stok yang ada saat ini dan menjaga laju vaksinasi sesuai dengan stok vaksin yang ada.
            <br> <br>
            Seluruh masyarakat Indonesia diminta untuk memanfaatkan kesempatan ini dengan sebaik-baiknya dan tidak
            memilih-milih vaksin karena semua jenis vaksin manfaatnya sama. Dengan vaksinasi dan pelaksanaan protokol
            kesehatan yang ketat akan semakin banyak dan semakin cepat masyarakat terlindungi dari COVID-19.
            <br> <br>
            Hotline Virus Corona 119 ext 9. Berita ini disiarkan oleh Biro Komunikasi dan Pelayanan Masyarakat,
            Kementerian Kesehatan RI. Untuk informasi lebih lanjut dapat menghubungi nomor hotline Halo Kemenkes melalui
            nomor hotline 1500-567, SMS 081281562620, faksimili (021) 5223002, 52921669, dan alamat email
            kontak@kemkes.go.id (D2)
            <br> <br>
            Kepala Biro Komunikasi dan Pelayanan Masyarakat
            <br> <br>
            drg. Widyawati, MKM
        </h4>
    </div>

    <p style="text-align:center;">
        <iframe width="420" height="315" align="middle" src="https://www.youtube.com/embed/EsP1NynbIMw" allowFullScreen>
        </iframe>
    </p></iframe>

    </div>
    </main>

</body>

<footer>
    <span>
        <center>CSD-027 &copy 2021 </center>
    </span>
</footer>

</html>