<!DOCTYPE html>
<html lang="en">

<head>
    <title>ChestCov19</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2781/2781395.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>


    <header class="sticky">
        <nav>
            <label class="logos">ChestCov</label>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a class="active" href="/info">Covid News</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <label id="icon">
                <img src="https://i.ibb.co/dW5q8Fn/lines-menu-burger-icon-123889.png" />
            </label>
        </nav>
        <script>
            $(document).ready(function () {
                $('#icon').click(function () {
                    $('ul').toggleClass('show');
                });
            });
        </script>
    </header>

    <img class="image_news_header" src="https://cdn.pixabay.com/photo/2020/12/13/23/40/woman-5829666_960_720.jpg">

    <div class="text_hader_news">
        <h1 class="news_title">Bos Pfizer Ungkap Kecemasannya Pada Covid-19 Varian Omicron</h1>
        <h3 class="news_author">Novina Putri Bestari, CNBC Indonesia</h3>
    </div>

    <div class="news_content">
        <h4>Jakarta, CNBC Indonesia</h4>
        <br> <br>
        <h4>Jakarta, CNBC Indonesia - CEO Pfizer, Albert Bourla mengatakan gejala infeksi Covid-19 varian omicron lebih
            ringan daripada varian sebelumnya, tetapi virus ini tampaknya menyebar lebih cepat dan dapat menyebabkan
            lebih banyak mutasi di masa depan.
            <br> <br>
            "Saya tidak berpikir ini kabar baik untuk memiliki sesuatu yang menyebar dengan cepat," ujar Albert Bourla
            dalam acara CEO Council Summit yang diselenggarakan The Wall Street Journal, seperti dihimpun dari CNBC
            International, Rabu (8/12/2021).
            <br> <br>
            "Menyebar dengan cepat berarti akan berpotensi menginfeksi miliaran orang dan mutasi lain mungkin datang.
            Anda tidak menginginkan itu."
            <br> <br>
            Covid-19 varian omicron ditemukan di Afrika Selatan. Namun, Albert Bourla mengatakan sulit menarik
            kesimpulan pasti dari gelombang infeksi di negara Afrika itu. Pasalnya, hanya 5% orang Afrika Selatan yang
            berusia di atas 60 tahun, dan orang yeng lebih muda biasanya memiliki gejala kasus Covid-19 lebih ringan.
            bagi manifestasi klinis," kata Albert Bourla.
            <br> <br>
            Pfizer menargetkan vaksin yang melawan omicron pada Maret 2022, tetapi belum jelas apakah perlu suntikan
            baru. Namun perusahaan menyakini antivirus oralnya, Paxlovid, akan mampu melawan omicron dan setiap varian
            virus lainnya yang telah muncul sejauh ini.
            <br> <br>
            Pil tersebut menghambat enzim yang perlu direplikasi virus, yang dikenal sebagai protease. "Sangat sulit
            bagi virus untuk membuat strain yang dapat hidup tanpa protease ini," kata Albert Bourla. "Bukan tidak
            mungkin. Itu sangat sulit."
            <br> <br>
            Covid-19 Bak Flu Musiman
            <br> <br>
            Albert Bourla menambahkan Covid-19 tidak akan hilang dari Bumi dalam waktu dekat. Virus akan terlihat
            seperti flu musiman karena semakin banyak orang mendapatkan vaksinasi dan tersedianya perawatan yang lebih
            baik.
            <br> <br>
            Menurutnya dalam kondisi saat ini kehidupan normal adalah ketika banyak orang divaksin dan tersedia
            perawatan yang memadai serta masyarakat "bisa pergi ke restoran dan tidak perlu memakai masker dan mati
            lemas setiap hari."
            <br> <br>
            Bourla mengatakan dia mengharapkan lebih banyak pelonggaran aturan kesehatan terkait Covid-19 tahun depan
            "tidak ada varian yang mengubah segalanya."
            <br> <br>
            "Saya pikir kami berada di jalur yang baik pertengahan tahun depan untuk mengendalikan semuanya," katanya.
            <br> <br>
        </h4>
    </div>

    <p style="text-align:center;">
        <iframe width="420" height="315" align="middle" src="https://www.youtube.com/embed/jiTu6VXFxXc" allowFullScreen>
        </iframe>
    </p></iframe>

    </div>
    </main>

</body>

<footer>
    <span>
        <center>CSD-027 &copy 2021 </center>
    </span>
</footer>

</html>