<!DOCTYPE html>
<html lang="en">

<head>
    <title>ChestCov19</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2781/2781395.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <script type=text/javascript src="{{
    url_for('static', filename='script/app.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>


    <header>
        <img style="width: 3%; height: 3%" class="logo" src="{{url_for('static', filename='covid-19.svg')}}">
        <nav>
            <ul class="nav__links">
                <li><a href="/">Home</a></li>
                <li><a href="/info">Info Covid</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
        </nav>
        <a class="cta" href="/contact"><button>Contact</button></a>
    </header>

    <img class="image_news_header" src="https://cdn.pixabay.com/photo/2020/06/11/04/02/mask-5285090_960_720.jpg">

    <div class="text_hader_news">
        <h1 class="news_title">Stafsus Presiden: COVID-19 Dorong Tren Digitalisasi Pendidikan</h1>
        <h3 class="news_author">antaranews.com</h3>
    </div>

    <div class="news_content">
        <h4>Rabu, 8 Desember 2021 18:12 WIB</h4>
        <br> <br>
        <h4>Memang betul awalnya arahan mengakselerasi pendidikan digital seolah hanya reaksi terhadap pandemi, tetapi
            ternyata ini akan menjadi tren pendidikan Indonesia ke depan," kata Billy dalam talkshow daring "G20, Kita
            Bisa Apa?" yang dipantau di Jakarta, Rabu.<br>
            <br>
            ia pun menilai langkah Presiden Jokowi yang meletakkan anak muda dengan segudang pengalaman di bidang
            digital ke dalam Kementerian Pendidikan, Kebudayaan, Riset, dan Teknologi (Kemendikbudristek).<br>
            <br>
            "Apa yang dilakukan pemerintah relevan baik untuk <i>post</i> pandemi maupun transformasi pendidikan
            Indonesia dalam jangka panjang sesuai dengan tren dan tantangan global saat ini," ucapnya.<br>
            <br>
            Sebelum COVID-19 pemerintah pun telah membangun infrastruktur Palapa ring timur untuk memastikan masyarakat
            di wilayah timur Indonesia dapat mengakses internet.<br>
            <br>
            "Tapi yang masih menjadi kendala, belum banyak operator memanfaatkan jejaring fisik yang telah dibangun.
            Jadi harapannya bagaimana menarik operator ke sana," ucapnya.<br>
            <br>
            Pengembangan digitalisasi pendidikan pun diperlukan karena beberapa daerah yang kekurangan guru berkualitas
            pun terbantu oleh teknologi digital.<br>
            <br>
            Menurut dia jika digitalisasi pendidikan dapat diakselerasi, pendidikan yang berkualitas dapat dinikmati
            secara lebih merata.<br>
            <br>
            "Kita akan bisa mengurangi gap pendidikan antara anak muda di berbagai wilayah di Indonesia, terutama antara
            wilayah timur yang kualitas pendidikannya masih lebih rendah dibandingkan wilayah barat," ucapnya.<br>
            <br>
        </h4>
    </div>

    <p style="text-align:center;">
        <iframe width="420" height="315" align="middle" src="https://www.youtube.com/embed/iJggDA8Qgto" allowFullScreen>
        </iframe>
    </p></iframe>

    </div>
    </main>

</body>

<footer>
    <span>
        <center>CSD-027 &copy 2021 </center>
    </span>
</footer>

</html>