<!DOCTYPE html>
<html lang="en">

<head>
    <title>ChestCov19</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2781/2781395.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>


    <header class="sticky">
        <nav>
            <label class="logos">ChestCov</label>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a class="active" href="/info">Covid News</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <label id="icon">
                <img src="https://i.ibb.co/dW5q8Fn/lines-menu-burger-icon-123889.png" />
            </label>
        </nav>
        <script>
            $(document).ready(function () {
                $('#icon').click(function () {
                    $('ul').toggleClass('show');
                });
            });
        </script>
    </header>

    <img class="image_news_header" src="https://cdn.pixabay.com/photo/2021/11/29/16/51/omicron-6833018_960_720.jpg">

    <div class="text_hader_news">
        <h1 class="news_title">Pemkab Bekasi Umumkan Covid Omicron Masuk, Kemenkes Bantah!</h1>
        <h3 class="news_author">Chandra Gian Asmara & Muhammad Iqbal, CNBC Indonesia</h3>
    </div>

    <div class="news_content">
        <h4>Jakarta, CNBC Indonesia</h4>
        <br> <br>
        <h4>Jakarta, CNBC Indonesia - Kementerian Kesehatan angkat bicara perihal kabar yang menyebutkan virus corona
            varian omicron telah terdeteksi di Indonesia.
            Juru Bicara Vaksinasi Covid-19 Kementerian Kesehatan Siti Nadia Tarmizi membantah kabar tersebut. Pemerintah
            memastikan hingga saat ini belum ada varian omicron di Indonesia.
            <br> <br>
            "Tidak benar [varian omicron di Indonesia]. Sampai saat ini belum ada," kata Nadia melalui pesan singkatnya
            kepada CNBC Indonesia, Rabu (8/12/2021).
            <br> <br>
            Pernyataan ini disampaikan otoritas kesehatan merespons pemberitaan di situs resmi Pemerintah Kabupaten
            Bekasi yang menyebutkan ada empat orang warga Indonesia yang terjangkit omicron.
            <br> <br>
            Mengutip laman resmi Pemerintah Kabupaten Bekasi, Dinas Kesehatan Kabupaten Bekasi menyebut ada empat orang
            warga DKI Jakarta yang terpapar varian omicron. Pemberitaan ini sendiri diunggah pada Selasa (7/12/2021)
            pukul 22.52 WIB
            <br> <br>
            Hal tersebut dikemukakan Kepala Dinas Kesehatan Bekasi Sri Enny Maniarti. Pernyataan itu ditegaskan setelah
            ada kabar yang menyebutkan empat orang warga Bekasi terpapar omicron.
            <br> <br>
            "Jadi 4 orang warga yang terpapar virus omicron itu bukan warga Kabupaten Bekasi, tetapi warga DKI Jakarta,"
            kata Enny usai rapat bersama Plt Bupati Bekasi dan Camat di Kantor Bupati, kemarin.
            <br> <br>
            Empat orang warga yang terpapar virus omicron itu diketahui setelah melakukan perjalanan dari luar negeri.
            Mereka dinyatakan positif Covid-19 jenis omicron setelah melakukan pemeriksaan sampel di laboratorium
            Farmalab.</h4>
    </div>

    <p style="text-align:center;">
        <iframe width="420" height="315" align="middle" src="https://www.youtube.com/embed/GeggVdxSYUI" allowFullScreen>
        </iframe>
    </p></iframe>

    </div>
    </main>

</body>

<footer>
    <span>
        <center>CSD-027 &copy 2021 </center>
    </span>
</footer>

</html>