<!DOCTYPE html>
<html lang="en">

<head>
    <title>ChestCov19</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2781/2781395.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <script type=text/javascript src="{{
    url_for('static', filename='script/app.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>


    <header>
        <img style="width: 3%; height: 3%" class="logo" src="{{url_for('static', filename='covid-19.svg')}}">
        <nav>
            <ul class="nav__links">
                <li><a href="/">Home</a></li>
                <li><a href="/info">Info Covid</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
        </nav>
        <a class="cta" href="/contact"><button>Contact</button></a>
    </header>

    <img class="image_news_header" src="https://cdn.pixabay.com/photo/2020/07/20/12/08/couple-5422795_960_720.jpg">

    <div class="text_hader_news">
        <h1 class="news_title">Pengamat: Pembatasan mobilitas akhir tahun diperlukan cegah COVID-19</h1>
        <h3 class="news_author">antaranews.com</h3>
    </div>

    <div class="news_content">
        <h4>Purwokerto, 8 Desember 2021 21:52 WIB</h4>
        <br> <br>
        <h4>
            Purwokerto (ANTARA) - Pengamat kebijakan publik dari Universitas Jenderal Soedirman (Unsoed) Dr. Slamet
            Rosyadi menilai pembatasan mobilitas saat libur akhir diperlukan untuk mencegah&nbsp;meluas kembali kasus
            COVID-19
            <br><br>
            "Pemantauan mobilitas dan berbagai kegiatan yang berpotensi menimbulkan kerumunan harus dilakukan," kata Dr.
            Slamet di Purwokerto, Kabupaten Banyumas Rabu.
            <br><br>
            Dia mengatakan persyaratan yang ketat terkait dengan mobilitas masyarakat harus diberlakukan guna mencegah
            terjadinya lonjakan kasus COVID-19.
            <br><br>
            "Terlebih lagi di tengah kemunculan varian Omicron, hal ini tentu perlu menjadi perhatian bersama sebagai
            antisipasi," katanya.
            <br><br>
            Dia juga mengatakan bahwa pembatalan Pemberlakuan Pembatasan Kegiatan Masyarakat (PPKM) tingkat 3 di seluruh
            wilayah saat perayaan Natal dan Tahun Baru 2022 merupakan langkah yang tepat.
            <br><br>
            "Kebijakan pembatalan PPKM level 3 sudah sepatutnya dilakukan karena pemerintah tidak ingin melakukan
            generalisasi situasi pandemi di setiap daerah," katanya.
            <br><br>
            Kendati demikian, kata dia, pengetatan dan pembatasan mobilitas sangat perlu untuk tetap dilakukan sebagai
            salah satu upaya mengendalikan COVID-19 saat libur Natal dan Tahun Baru.
            <br><br>
            "Bila pengendalian mengendur, dikhawatirkan akan memicu lonjakan kasus COVID-19 lagi. Terlebih lagi,
            kebijakan pembatalan dikhawatirkan akan meningkatkan antusiasme masyarakat untuk merayakan Natal dan Tahun
            Baru ke daerah asal atau ke tempat wisata. Situasi ini yang harus dikendalikan dan tentu saja harus
            disosialisasikan kepada masyarakat," katanya.
            <br><br>
            Sementara itu dia juga kembali mengingatkan bahwa masyarakat harus berperan aktif dalam upaya percepatan
            vaksinasi COVID-19 agar capaian terus meningkat dan segera mencapai target kekebalan komunal.
            <br><br>
            Pemerintah tidak bisa bertindak sendirian dalam percepatan vaksinasi. Perlu ada dukungan dari berbagai
            pihak.
            <br><br>
            "Tokoh masyarakat, politik, budaya dan bisnis perlu menjadi bagian penting dalam upaya percepatan vaksinasi.
            Karena para tokoh ini juga punya jejaring sosial dan pengaruh yang besar terhadap masyarakat," katanya.
            <br><br>
            Dia menambahkan, selain peran masyarakat, program percepatan vaksinasi juga memerlukan koordinasi antar
            lembaga yang berwenang.
            <br><br>
            "Dengan mengintensifkan koordinasi antar lembaga dan pelibatan seluruh pemangku kebijakan maka program
            percepatan vaksinasi akan berjalan makin optimal," katanya.*<br><br></h4>
    </div>

    <p style="text-align:center;">
        <iframe width="420" height="315" align="middle" src="https://www.youtube.com/embed/1qpQH1eCSMQ" allowFullScreen>
        </iframe>
    </p></iframe>

    </div>
    </main>

</body>

<footer>
    <span>
        <center>CSD-027 &copy 2021 </center>
    </span>
</footer>

</html>