<!DOCTYPE html>
<html lang="en">

<head>
    <title>ChestCov19</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2781/2781395.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <script type=text/javascript src="{{
    url_for('static', filename='script/app.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>


    <header>
        <img style="width: 3%; height: 3%" class="logo" src="{{url_for('static', filename='covid-19.svg')}}">
        <nav>
            <ul class="nav__links">
                <li><a href="/">Home</a></li>
                <li><a href="/info">Info Covid</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
        </nav>
        <a class="cta" href="/contact"><button>Contact</button></a>
    </header>

    <img class="image_news_header" src="https://cdn.pixabay.com/photo/2020/05/15/18/46/corona-5174671_960_720.jpg">

    <div class="text_hader_news">
        <h1 class="news_title">Update Soal Kadinkes Bekasi Temukan 4 Warga DKI Terpapar Omicron</h1>
        <h3 class="news_author">Reporter : Adi Nugroho (Merdeka.com)</h3>
    </div>

    <div class="news_content">
        <h4>Merdeka.com - UPDATE BERITA pukul 18.24 WIB</h4>
        <br> <br>
        <h4>Kementerian Kesehatan (Kemenkes) menegaskan belum ada temuan varian Omicron Covid-19 telah masuk ke
            Indonesia. Hingga Rabu (8/12) siang, Kemenkes tegaskan Omicron belum terdeteksi di Indonesia.
            <br> <br>
            Plt Dirjen P2P Kemenkes Maxi Rein Rendonuwu meluruskan kabar empat warga Jakarta terpapar Omicron. Menurut
            dia, Farmalab di Cikarang Bekasi tak memiliki kemampuan mendeteksi Omicron. Dia sudah mengonfirmasi apakah
            Litbangkes menerima sampel dari Farmalab Cikarang. Sampai saat ini, menurut dia, Litbangkes tak menerima
            sampel tersebut.
            <br> <br>
            "Saya sudah cek di Litbangkes tidak ada pengiriman sampel dari Farmalab," tutur dia.
            <br> <br>
            Diberitakan Sebelumnya, Empat orang dinyatakan terpapar Covid-19 varian Omicron. Mereka terpapar virus yang
            pertama kali muncul di Afrika itu setelah dilakukan pemeriksaan sample di Laboratorium Farmalab, Cikarang
            Barat, Kabupaten Bekasi.
            <br> <br>
            Keempat orang itu diduga tertular virus omicron seusai melakukan perjalanan ke luar negeri.
            <br> <br>
            Kepala Dinas Kesehatan Kabupaten Bekasi, Sri Enny Mainiarti menegaskan, empat orang tersebut bukan warga
            Kabupaten Bekasi. Melainkan warga DKI Jakarta.
            <br> <br>
            "Jadi empat orang warga yang terpapar virus Omicron itu bukan warga Kabupaten Bekasi tetapi warga DKI
            Jakarta," katanya dikutip dari situs bekasikab.go,id, Rabu (8/12).
            <br> <br>
            Meski demikian, Sri Enny meminta kepada jajaran Pemerintah Kabupaten Bekasi tetap waspada terhadap penularan
            virus tersebut. Terutama bagi warga yang baru datang dari luar negeri.
            <br> <br>
            "Pemkab harus waspada terhadap warga yang baru datang dari luar negeri. Apalagi warga Jabar pergerakannya
            dari luar negeri cukup banyak," ucapnya.
            <br> <br>
            Camat serta kepala desa dan lurah juga diminta aktif memantau warganya. Terutama bagi mereka yang baru
            kembali dari luar negeri.
            <br> <br>
            Untuk antisipasi penularan virus yang disebut memiliki tingkat penularan lebih cepat ini, Sri Enny mengimbau
            agar warga melakukan vaksinasi Covid-19. Khususnya bagi warga yang belum sekalipun menerima dosis pertama.
            <br> <br>
            "Vaksin Covid-19 masih harus tetap dilakukan," katanya.
            <br> <br>
            Terpisah, Kepala Seksi Surveilans Epidemiologi dan Imunisasi Dinas Kesehatan DKI Jakarta, dr Ngabila Salama,
            mengatakan kabar itu tidak benar. Pihaknya belum mendapatkan informasi itu.
            <br> <br>
            "Sejauh ini tidak ada ya," kata Ngabila.
            <br> <br>
            Menurutnya, jika memang ada hasil pemeriksaan Genome Sequencing terkait Covid-19, pihakny akan
            diinformasikan.
            <br> <br>
            "Kalau ada hasil pemeriksaan genoem sequencing pasti kita di acc. Sampai sekarang tidak ada," tegas Ngabila.
            <br> <br>
            Sebelumnya Pemkab Bekasi mengunggah artikel di situs bekasikab.go.id dengan judul 'Kadinkes Tegaskan 4 Orang
            Terpapar Omicron Bukan Warga Kabupaten Bekasi' yang tayang pada Selasa (7/12). Namun, informasi tersebut
            sudah dihapus dari laman bekasikab.go.id setelah satu hari diunggah dan informasi tersebut viral di media
            sosial.
            <br> <br>
            Pemkab Bekasi telah membuat klarifikasi terkait informasi awal yang beredar. Klarifikasi tersebut bisa
            dibaca dalam tautan berikut ini.
            <br> <br>
            Catatan Redaksi:
            <br> <br>
            Berita ini sudah diperbaharui pada pukul 18.24 WIB setelah mendapat konfirmasi dari Kementerian Kesehatan.
            Judul juga mengalami perubahan dari semula berjudul "Kadinkes Bekasi Temukan 4 Warga DKI Terpapar Omicron
            Usai Bepergian dari Luar Negeri" menjadi 'Update Soal Kadinkes Bekasi Temukan 4 Warga DKI Terpapar Omicron'.
            <br> <br>
            Terima Kasih</h4>
    </div>

    <p style="text-align:center;">
        <iframe width="420" height="315" align="middle" src="https://www.youtube.com/embed/Pa-6dc_NClM" allowFullScreen>
        </iframe>
    </p></iframe>

    </div>
    </main>

</body>

<footer>
    <span>
        <center>CSD-027 &copy 2021 </center>
    </span>
</footer>

</html>